<nav id="navbar-container">
    <mat-toolbar class="navbar">
        <div class="logo-container">
            <a routerLink="">
                <img id="logo" src="assets/images/logo.svg">
            </a>
        </div>
        <div class="navbar-links">
            <button mat-button [matMenuTriggerFor]="categories">
                Categories
            </button>
            <mat-menu #categories="matMenu">
                <a routerLink="/categories/clothing" routerLinkActive="active" mat-menu-item>Clothing</a>
                <a routerLink="/categories/accessories" routerLinkActive="active" mat-menu-item>Accessories</a>
                <a routerLink="/categories/tools" routerLinkActive="active" mat-menu-item>Tools</a>
            </mat-menu>
            <a mat-button routerLink="/featured">New & Featured</a>
            <a mat-button routerLink="/sale">Sale</a>
        </div>
        <button mat-icon-button id="shopping-cart-btn" routerLink="/cart">
            <mat-icon color="primary">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="account">
            <mat-icon color="primary">account_circle</mat-icon>
            <mat-menu #account="matMenu">
                <a routerLink="/signup" mat-menu-item>Sign Up</a>
                <a routerLink="/login" mat-menu-item>Login</a>
            </mat-menu>
        </button>
    </mat-toolbar>
</nav>